<nav class="navbar navbar-default" role="navigation">
	<div class="container">
<%=link_to 'Pinner', root_path,class:'navbar-brand' %>
      <div class="navbar-header">
      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
            <%=link_to 'Home', root_path %>
          </li>
          <li class="nav-item">
            <%=link_to 'About Us', home_about_path %>
          </li>
        </ul>
      </div>
  		</div>
	</div>
    </nav>
